body {
  font-family: Arial;
}
.item {
  display: flex;
}

.item__code {
  margin-right: 5px;
  font-weight: bold;
}
.item__value {
  margin-right: 5px;
}

.loader {
  width: 48px;
  height: 48px;
  margin: 20px auto;
  border: 5px solid #e2e2e2;
  border-top-color: #06f;
  border-radius: 50%;
  animation: loader-spin 0.8s linear infinite;
  display: none;
}

.loader_active {
  display: block;
}

@keyframes loader-spin {
  to {
    transform: rotate(360deg);
  }
}
